/* v Fonts v */

@import url("https://use.typekit.net/ngo2laz.css");

/* v CSS RESET v */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: futura-pt-bold;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    background-color: #36558F;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Border-box Set-Up */

*, *:before, *:after {
    box-sizing: border-box;
}

/*

/// Defined CSS Below ///

*/

h1 {
    font-size: 2.551rem;
}

.linktree {
    position: relative;
    background-color: #F3EFF5;
    width: min-content;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 2px solid #0D0A0B;
    border-radius: 30px;
    box-shadow: 0px 10px 0px #0D0A0B;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    z-index: 2;
}

.linktree > * {
    flex: 1 100%;
}

.profilepic {
    max-width: 150px;
    height:150px;
    padding: 0px;
    border-radius: 50%;
    border: 2px solid #0D0A0B;
    margin: auto;
    background-color: #F3EFF5;
    overflow: hidden;
    transition: transform .2s;
}

.profilepic  a {
    width: inherit;
    height: inherit;
}

.profilepic:hover {
    opacity: 0.5;
    transform: scale(1.05);
}

.profilepic a img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.info {
    margin-bottom: 20px; 
}
.info h1 {
    margin-bottom: 10px;
}

.sociallink{
    color: inherit;
    border: 2px solid #0D0A0B;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    transition: transform .2s;
}

.sociallink:visited {
    color: #0D0A0B;
}

.sociallink:hover, .sociallink:active {
    background-color: #0D0A0B;
    color: #F3EFF5;
    transform: scale(1.05);
}

@media all and (min-width: 650px) {
    .linktree {
        width: 75%;
        max-width: 600px;
    }

    .profilepic {
        flex: 1 auto;
    }
    
    .info {
        margin-top: 20px;
        margin-left: 10px;
        padding-right: 0px;
        flex: 3 0px;
    }

    .sociallink{
        font-size: 1.5rem;
        padding: 10px;
    }
}

#landingBackground { /*Video Background for Landing Page*/
    position: fixed;
    max-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: 1;
}